@charset "UTF=8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FontedaLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf")
}

body {
    background-color: white;
    color: rgba(0,0,0,1);
    font-family: Arial, sans-serif;
    padding: 1px;
    background-color: rgb(249, 252, 208);
}

a {
    text-decoration: none;
    color: rgba(0, 0, 214, 0.8);
}

a:hover{
    text-decoration: underline;
}

p { 
    text-align: justify;
    text-indent: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}


header#cabecalho img#icone {
    position: absolute;
    left: 85%;
    top: 1%;
    max-width: 100%;
    width: 14%;
    height: auto;
    opacity: 75%; 
    vertical-align: top;   
}

@media screen and (max-width:480px) {
    header#cabecalho img#icone {
      display: none;
      display: hidden; 
      width: 0%;
      height: 0%;
    }
}

header#cabecalho {
    border-bottom: 1px black solid;
    height: 120px;
    margin: 0px 0px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90%;
    padding: 2px;
    border-radius: 1px;
}

header#cabecalho h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18pt;
    color: #ffffff;
    background-color: rgba(0, 0, 214, 0.8);
    margin: 0.5%;
    border-radius: 6px;
    text-align: center;
    padding: 2px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18pt;
    color: #ffffff;
    background-color: rgba(0, 0, 214, 0.8);
    margin: 0.5%;
    border-radius: 6px;
    text-align: center;
    padding: 2px;
}

figure.foto-legenda {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.foto-legenda img {
    max-width: 100%;
    height: auto;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    padding: 2px;
    border-radius: 6px;

}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: #dddddd43;
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 12px;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}


nav#menu ul {
    display: block;
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    margin: 0 auto; 
    text-align: center;
    width: 100%;
    height: auto;
    padding: 2px;
}

nav#menu li {  
    display: inline-block;
    margin: 0 auto; 
    text-align: center;
    background-color: rgba(0, 0, 214, 0.8);
    padding: 6px;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    border-radius: 6px;
}

nav#menu li:hover {
    background-color: white;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color:white;
    text-decoration: none;
}

nav#menu a:hover {
    color: rgba(0, 0, 214, 0.8);
    text-decoration: none;
}

section#corpo {
    display:block;
    width: 69%;
    float:left;
    border-right: 1px solid black; 
    -webkit-box-sizing: content-box; 
            box-sizing: content-box;
    padding: 1%;
    background-color: rgb(249, 252, 208);
    margin: auto;
}

article#noticiaprincipal h1 {
    font-size: 18pt;
    color: #ffffff;
    background-color: rgba(0, 0, 214, 0.8);
    margin: 0.5%;
    border-radius: 6px;
    text-align: center;
    padding: 2px;
}

article#noticiaprincipal h2 {
    font-size: 18pt;
    color: white;
    background-color: rgba(0, 0, 214, 0.8);
    padding: 4px;
    margin: 0.5%;
    border-radius: 6px;
    text-align: center;
}

header#cabecalho-de-artigo h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18pt;
    color: white;
    background-color: rgba(0, 0, 214, 0.8);
    padding: 4px;
    margin: 0.5%;
    border-radius: 6px;
    text-align: center;
}    

header#cabecalho-de-artigo h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18pt;
    color: white;
    background-color: rgb(249, 252, 208);
    padding: 4px;
    margin: 0.5%;
    border-radius: 6px;
    text-align: center;
}

header#cabecalho-de-artigo h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,1);
    text-align: right;
}

.direita {
    text-align: right;
}

table#tabela {
    border-spacing: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 2px;
}

table#tabela td {
    border: 2px outset rgba(0, 0, 0, 0.829);
    padding: 3%;
    text-align: center;
    vertical-align: middle;
}

table#tabela td.ce {
    color: white;
    background-color: rgba(0, 0, 214, 0.8);
    font-weight: bold;
}

table#tabela td.cd {
    color: black;
    background-color: rgb(249, 252, 208);
}


table#tabela caption {
    color:black;
    font-size: 15pt;
    font-weight: bolder;
}

table#tabela caption span {
    display: block;
    float: right;
    font-size: 8pt;
    margin-top: 2%;
    margin-right: 3%;
}

aside#lateral {
    display: block;
    width: 26%;
    float: right;
    background-color: rgb(249, 252, 208);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.5);
            box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    border-radius: 6px;
    margin-right: 1%;
    padding: 2px;
    border-radius: 2px;
}

aside#lateral h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18pt;
    color: rgba(0, 0, 8, 0.8);
    border-radius: 6px;
    padding: 2px;
}

aside#lateral h2 {
    background-color: rgba(0, 0, 214, 0.8);
    font-size: 13pt;
    color: #ffffff;
    padding: 1%;
    border-radius: 2px;
    padding: 2px;

}

video {
    width: 99%;
    height: auto;
    border-radius: 6px;
    padding: 2px;
}

footer#rodape {
    clear: both;
    border-top: 1px solid black;
    padding: 5px;
    background-color: rgb(249, 252, 208);
    border-radius: 1px;
}

footer#rodape {
    text-align: center;
}