@charset "UTF=8";

form {
    width:500px;
    margin: auto;
    border-radius: 4px;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,.8)
}

input:hover, textarea:hover {
    background-color: #dddddd;
}

legend {
    color: rgba(0, 0, 214, 0.8);
    font-weight: bold; 
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {
    margin: 20px; 
    border: 1px solid rgba(0, 0, 214, 0.8);
    border-radius: 2px;
}

fieldset#sexo {
    width: 150px;
    margin-left: 52px;
}

fieldset#usuario{
    background: url("../_imagens/icone-contato.png") no-repeat 85% 85%;
}

fieldset#endereco {
    background: url("../_imagens/icone-endereco.png") no-repeat 85% 85%;
}

fieldset#mensagem {
    background: url("../_imagens/icone-mensagem.png") no-repeat 85% 85%;
}

fieldset#quero {
    background: url("../_imagens/icone-pagamento.png") no-repeat 85% 85%;
}

label#ibge {
    display: hidden;
}

#ibge {
    display: none;
    display: hidden;
}
